/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Jan-2022, 6:22:15 pm
    Author     : Umar Shaikh
*/


body{
    background-color: black;
}
.container{
    width:1000px;
    height: 550px;
    background-image: url(./img/14.jpg) ;
    margin: 20px auto;
    
}
.heading{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 440px;
    padding:10px 10px;
    margin: auto;
    margin-left: 265px;
    color: wheat;
}
.calculator {
 padding: 10px;
 border-radius: 1em;
 height: 470px;
 width: 420px;
 margin: auto;
 background-color: #2c4d59;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 margin-top: 12px;
 
}
.display-box {
 font-family: 'Lato', sans-serif;
 font-size: 16pt;
 background-color: #dcdbe1;
 border: solid black 0.8px;
 color: black;
 border-radius: 5px;
 width: 95%;
 height: 70%;
}
.button {
 font-family: 'Roboto', sans-serif;
 font-size: 17pt;
 background-color: #666e70;
 color: white;
 border: solid black 0.5px;
 width: 95%;
 border-radius: 5px;
 height: 70%;
 outline: none;
}

.button2{
     font-family: 'Roboto', sans-serif;
 font-size: 20pt;
 background-color: #666e70;
 color: white;
 border: solid black 0.5px;
 width: 100%;
 border-radius: 5px;
 height: 65%;
 outline: none;
    
}

.button:active {
 background: #e5e5e5;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 5px #c1c1c1;
}

.button2:active {
 background: #e5e5e5;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 5px #c1c1c1;
}
.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  
}


